body {
  background-color: #f2f4f6;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  border-bottom: 2px solid #dee2e6;
}

.navbar {
  padding: 15px 30px;
}



.title {
  font-size: 1.75rem; /* Larger title */
  font-weight: 700;
  color: #007bff; /* Bright blue title color */
  transition: color 0.3s, transform 0.3s;
}

.title:hover {
  color: #0056b3; /* Darker blue on hover */
  transform: scale(1.1); /* Slight scaling effect */
}

.nav-link {
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  transition: color 0.3s, border-bottom 0.3s;
}

.nav-link:hover {
  color: #007bff;
  border-bottom: 2px solid #007bff; /* Underline effect on hover */
}
  .cart-item {
    background-color: #ffe3dc;
    padding: 20px;
    border-radius: 8px;
  }
  
  .btn-danger {
    background-color: #ff6f58;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #ff4d3a;
  }
  
  .btn-primary {
    background-color: #ff8b72;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #ff6f58;
  }
  